.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.notification-item {
  cursor: pointer;
  &:hover {
    transition: all ease-in-out 0.3s;
    background: #bae0ee;
  }
}
.notification-unseen {
  transition: all ease-in-out 0.3s;
  background: #bae0ee;
}

.tim-dt-form {
  display: flex;
  justify-content: end;
  .form-item {
    width: 210px;
    margin-right: 30px;
  }
  .btn-search {
    border-radius: 4px;
  }
}

.btn-dsx {
  color: #1890FF !important;
  font-weight: 600;
  cursor: pointer;
}

.tt-doi-tac {
  display: flex;
  margin: 30px 0;
  .info-item {
    display: flex;
    font-weight: 600;
    color: #000;
    margin-right: 40px;
    div {
      margin-left: 5px;
    }
  }
}

.hd-modal .ant-modal-body{
  padding: 20px 50px;
  .hd-form {
    label, span {
      font-weight: 500;
    }
    .btn-create-block {
      display: flex;
      justify-content: center;
      .btn-create {
        border-radius: 5px;
      }
    }
  }
}
